@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0px;
}

.general-padding {
    width: 82.5%;
    max-width: 1320px;
    margin: 0px auto;
}

.general-font {
    font-family: "Merriweather", serif;
    text-align: center;
}

.banner {
    height: 600px;
    margin-top: 50px;
    border-radius: 16px;
    background-image: url("..//resources/Banner\ Image.png");
}

.banner>.banner-section>h4 {
    color: white;
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 50px 50px 0px;
}

.banner>.banner-section>h2 {
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    max-width: 632px;
    margin: 10px auto 170px;
}

.category-text {
    font-family: "Inter", sans-serif;
    text-align: center;
    margin-top: 100px;
}

.category-text h2 {
    color: #f00;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.category-text p {
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 30px;
}

.category-text h3 {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
}

.category-img {
    margin: 50px 160px 100px 160px;
}

.midnight-party {
    height: 600px;
    margin-top: 50px;
    border-radius: 16px;
    background-image: url("..//resources/Vectorrr.png");
    display: flex;

}

.midnight-party .midnight-party-text {
    width: 50%;
    max-width: 642px;
    text-align: left;
    padding: 126px;
}

.midnight-party-text>h2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.midnight-party-text>p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 26px;
}

.midnight-party-text>button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    padding-top: 50px;
}

.button:hover {
    color: #070211;
    background-color: bisque;
}

.midnight-party-img {
    margin: 70px 20px 100px;
}

.party-address {
    height: 482px;
    background-color: antiquewhite;
    text-align: center;
    margin-top: 50px;
    border-radius: 16px;
}

.party-address p {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 100px;

}

.party-address p span {
    color: #F00;
}

.party-address button {
    background-color: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px 32px;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
}

.coming-soon {
    display: flex;
    margin-top: 100px;
    height: 470px;

}

.soon-img {

    width: 33%;
}

.soon-img img {
    width: auto;
    border: solid;
    border-color: #F00;
    border-width: 10px;
    padding: 20px;
    border-radius: 50%;

}

.soon-text1 {
    width: 33.3%;
}

.soon-text1 h4 {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 60px 10px 0px 10px;
}

.soon-text1 h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding: 20px 10px;
}

.soon-text1 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 10px;
}

.soon-text2 {
    width: 33.3%;
    font-family: Inter;
    padding-left: 50px;
}

.soon-text2 h1 {
    color: #F00;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 60px 10px 10px;
}

.soon-text2 p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 10px;
    max-width: 276px;

}

.soon-text2 div {
    width: 140px;
    height: 140px;
}

.holidays-sale {
    text-align: center;
    padding: 50px;
}

.holidays-sale>h4 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.holidays-sale>h1 {
    padding-top: 20px;
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holidays-sale>h1>span {
    color: #F00;
}

.holidays-sale>p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    width: 70%;
    margin: 30px auto;
}
.first-section{
    display:flex;
    position: relative;
    z-index: 1;
    margin-top: 50px;
    
    
    
}
.bottom-image{
    position: relative;
    top: -233px;
}
.first-image{
    position: relative;
    width: 50%;
}
.second-image{
    position: relative;
    width: 50%;

}
.third-image{
    position: relative;
    width: 20.3%;
    top: 100px;
    left: 90px;
    z-index: 5;

}